html,
body {
    background-image: url('../imagens/semLetras.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    background-color: lightgrey;
}

.posit {
    position: absolute;
    left: 50%;
}

.naveg {
    background-color: rgba(31, 148, 76, 0.863);
}

.textTp {
    font-weight: bold;
}

.divTp {
    position: absolute;
    left: 20%;
    top: 15%;
    width: 60%;
    height: 50%;
    background-color: rgb(145, 141, 141);
}

.invi {
    height: 0;
    width: 0;
    visibility: hidden;
    padding: 0;
    margin: 0;
    float: right;
}

.cust {
    position: relative;
    top: 100px;
    padding: 100px;
    background-color: rgba(103, 103, 110, 0.719);
}