html,
body {
    background-image: url('semLetras.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    background-color: lightgrey;
}

.naveg {
    background-color: rgba(43, 197, 94, 0.767);
    float: none;
}

.Sair {
    float: right;
}

.botao {
    background-image: url("amostras.png");
    height: 30%;
    width: 49%;
    border-bottom: white;
}

.textTp {
    font-weight: bold;
}

.divTp {
    position: absolute;
    left: 10%;
    top: 15%;
    width: 80%;
    height: 60%;
    background-color: rgba(18, 19, 19, 0.877)
}